<v-slide-x-transition>
  <v-container fluid>
    <v-layout row wrap>
      <v-flex xs12>
        <v-card>
          <v-card-text>
            <v-layout row wrap>
              <v-flex xs12>
                <v-list two-line subheader>
                   <v-list-tile @click="viewDevice($store.getters.ownDevice)" avatar>
                     <v-list-tile-content>
                       <v-list-tile-title>Get this Device Info</v-list-tile-title>
                       <v-list-tile-sub-title>See Information about this Device.</v-list-tile-sub-title>
                    </v-list-tile-content>
                     <v-list-tile-action>
                       <v-btn dark icon>
                         <v-icon>keyboard_arrow_right</v-icon>
                       </v-btn>
                     </v-list-tile-action>
                   </v-list-tile>
                </v-list>
              </v-flex>
            </v-layout>
          </v-card-text>
          <v-card-text>
            <v-subheader>- OR -</v-subheader>
          </v-card-text>
          <v-card-text>
            <v-layout row wrap>
              <v-flex
                :xs12="$store.getters.searchControl === 'auto'"
                :xs10="$store.getters.searchControl === 'button'"
              >
                <v-text-field
                    label="Search by Model Name"
                    v-model="search"
                    single-line
                    :loading="searchLoading"
                    :disabled="searching"
                    ref="searchInput"
                  >
                    <v-progress-linear
                      v-if="searchLoading"
                      slot="progress"
                      color="primary"
                      height="7"
                      indeterminate
                    ></v-progress-linear>
                  </v-text-field>
              </v-flex>
              <v-flex
                xs2
                v-if="$store.getters.searchControl === 'button'"
                style="display:flex;align-items:center;justify-content:center;"
              >
                <v-btn dark icon color="primary" :loading="searchBtnLoading" @click="apicall(search)">
                  <v-icon>search</v-icon>
                </v-btn>
              </v-flex>
              <v-flex xs12 v-if="devices.length > 0">
                <v-list three-line subheader>
                   <v-subheader>Results</v-subheader>
                   <v-list-tile v-for="(device, index) in devices" :key="index" @click="viewDevice(device)" avatar>
                     <v-list-tile-avatar>
                       <img :src="device.img">
                     </v-list-tile-avatar>
                     <v-list-tile-content>
                       <v-list-tile-title>{{ device.name }}</v-list-tile-title>
                       <v-list-tile-sub-title v-html="device.description"></v-list-tile-sub-title>
                    </v-list-tile-content>
                     <v-list-tile-action>
                       <v-btn dark icon color="primary">
                         <v-icon>keyboard_arrow_right</v-icon>
                       </v-btn>
                     </v-list-tile-action>
                   </v-list-tile>
                </v-list>
              </v-flex>
              <v-flex xs12 v-show="hasNoResult">
                <v-container fluid fill-height>
                   <v-layout align-center justify-center>
                     <v-flex xs12 class="text-xs-center">
                       <div :style="style" ref="noDeviceContainer"></div><br>
                       <h3>No Devices Found!</h3>
                     </v-flex>
                   </v-layout>
                 </v-container>
              </v-flex>
            </v-layout>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</v-slide-x-transition>
