<v-slide-x-transition>
  <v-container fluid>
    <v-layout row wrap>
      <v-flex xs12>
        <v-card v-show="hasNoResult">
          <v-card-text>
            <v-layout row>
              <v-flex xs12>
                <v-container fluid fill-height>
                   <v-layout align-center justify-center>
                     <v-flex xs12 class="text-xs-center">
                       <div :style="style" ref="noDeviceContainer"></div><br>
                       <h3>No Devices Found!</h3>
                     </v-flex>
                   </v-layout>
                 </v-container>
              </v-flex>
            </v-layout>
          </v-card-text>
        </v-card>
        <v-card v-show="!hasNoResult">
          <!-- <v-card-text v-if="devices.length === 0">
            <v-layout row wrap>
              <v-flex xs12>
                <v-list two-line subheader>
                   <v-list-tile @click="viewDevice($store.getters.ownDevice)" avatar>
                     <v-list-tile-content>
                       <v-list-tile-title>Get this Device Info</v-list-tile-title>
                       <v-list-tile-sub-title>See Information about this Device.</v-list-tile-sub-title>
                    </v-list-tile-content>
                     <v-list-tile-action>
                       <v-btn :dark="darkMode" icon>
                         <v-icon>keyboard_arrow_right</v-icon>
                       </v-btn>
                     </v-list-tile-action>
                   </v-list-tile>
                </v-list>
              </v-flex>
            </v-layout>
          </v-card-text> -->
          <v-card-text v-if="devices.length === 0">
            <v-subheader>All Brands</v-subheader>
            <v-list dense>
              <v-slide-y-reverse-transition v-if="brandLoading">
                <v-list-tile>
                  <v-list-tile-avatar>
                    <v-progress-circular indeterminate color="primary"></v-progress-circular>
                  </v-list-tile-avatar>
                  <v-list-tile-content>
                    <v-list-tile-title>Loading...</v-list-tile-title>
                    <v-list-tile-sub-title>Fetching all brand Informations.</v-list-tile-sub-title>
                 </v-list-tile-content>
                </v-list-tile>
              </v-slide-y-reverse-transition>
              <v-list-tile v-else v-for="(brand, index) in brands" :key="index" @click="viewBrand(brand)">
                <v-list-tile-content>{{ brand.name }}</v-list-tile-content>
                <v-list-tile-content class="align-end">{{ brand.devices }} Devices</v-list-tile-content>
              </v-list-tile>
            </v-list>
          </v-card-text>
          <v-card-text v-else>
            <v-layout row wrap>
              <v-flex xs12>
                <v-list two-line subheader>
                   <v-subheader>Search Results</v-subheader>
                   <v-list-tile v-for="(device, index) in devices" :key="index" @click="viewDevice(device)" avatar>
                     <v-list-tile-avatar>
                       <img :src="device.img">
                     </v-list-tile-avatar>
                     <v-list-tile-content>
                       <v-list-tile-title>{{ device.name }}</v-list-tile-title>
                       <v-list-tile-sub-title v-html="device.description"></v-list-tile-sub-title>
                    </v-list-tile-content>
                     <v-list-tile-action>
                       <v-btn :dark="darkMode" icon>
                         <v-icon>keyboard_arrow_right</v-icon>
                       </v-btn>
                     </v-list-tile-action>
                   </v-list-tile>
                </v-list>
              </v-flex>
            </v-layout>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</v-slide-x-transition>
